<header>
    <a href="#home">
        <div class="logo-container">
            <img class="logo-active" src="assets/img/Vectorid_active.png">
            <img class="logo" src="assets/img/Vectorid_w.png">
        </div>
    </a>
    <div class="navigation">
        <a class="bg-link" href='#home'>
            <div>Home</div>
        </a>
        <a href='#about' class="bg-link">
            <div>About me</div>
        </a>
        <a href='#myWork' class="bg-link">
            <div>My Work</div>
        </a>

    </div>

</header>