<header>
    <a href="#home">
        <div class="logo-container">
            <img class="logo-active" src="assets/img/Vectorid_active.png">
            <img class="logo" src="assets/img/Vectorid_w.png">
        </div>
    </a>
    <div class="navigation">
        <a href='#home'>
            <div class="bg-link">Home</div>
        </a>
        <a href='#about'>
            <div class="bg-link">About me</div>
        </a>
        <a href='#myWork'>
            <div class="bg-link">My Work</div>
        </a>

    </div>

</header>