<div class="bg-footer">
    <div class="footer-container">
        <div class="container-left">
            <img src="./assets/img/Vectorid_w.png">
            <div class="links">
                <a href="https://www.linkedin.com/in/toma-gela-29521aa8"><img class="mr-10" src="./assets/img/LI-In-Bug.png"></a>
                <a href="https://github.com/TomG1909"><img src="./assets/img/github.png"></a>
            </div>
        </div>

        <div class="container-right hide-mobile">
            <div class="left-column">
                <a href="#home">Home</a>
                <a href="#skills">My Skills</a>
            </div>
            <div class="right-column">
                <a href="#about">About me</a>
                <a href="#myWork">My Work</a>
            </div>
        </div>

    </div>
    <div class="links-legal">
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection">Data Protection</a>
    </div>
</div>