        .bg {
            background-color: #0c0c0c;
            padding-bottom: 20px;
        }
        
        h3 {
            color: rgba(255, 255, 255, 0.6);
            margin-top: 20px;
            margin-left: 40px;
        }
        
        .project-container {
            display: flex;
            overflow: hidden;
            justify-content: center;
            width: 100vw;
        }
        
        .project-box {
            width: 600px;
            height: 570px;
            background-color: white;
            margin-top: 20px;
            margin-left: 40px;
            img {
                width: 600px;
            }
        }
        
        .mr-40 {
            margin-right: 40px;
        }
        
        .container-left {
            display: flex;
            flex-direction: column;
        }