<div id="myWork"></div>
<div class="bg-black project-container">

    <div class="container-left">

        <h3>My Projects</h3>

        <div class="text-color">
            <h2>Work I've done<br> in the past</h2>
        </div>
        <mat-card class="example-card">
            <a href="https://tomagela.com/projects/el_pollo_loco/pollo_loco.html" target="_blank"><img mat-card-image src="./assets/img/mockup_Pollo_Loco.png"></a>

            <mat-card-content>
                <h3>El Pollo Loco</h3>
                <p>
                    A funny jump and run game based on JavaScript, where I gained experience in object-oriented programming in a canvas.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <a href="https://tomagela.com/projects/Join/index.html"target="_blank"><img mat-card-image src="./assets/img/join.png"></a>

            <mat-card-content>
                <h3>Join</h3>
                <p>
                    A Kanban board to manage work on personal or professional level. A project which was built in team work.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="container-right">
        <mat-card class="example-card">
            <a href="https://tomagela.com/projects/ring-of-fire/index.html"target="_blank"><img mat-card-image src="./assets/img/mockup_ring_of_fire.png"></a>

            <mat-card-content class="text-box">
                <h3>Ring of Fire</h3>
                <p>
                    The popular drinking game based on Angular. You can play it together by sharing the link.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <a href="https://tomagela.com/projects/simple-crm/index.html"target="_blank"><img mat-card-image src="./assets/img/mockup_CRM.png"></a>

            <mat-card-content class="text-box">
                <h3>Simple CRM</h3>
                <p>
                    A webbased CRM with all basic functions to manage a customer database with a integrated weather and calendar widget
                </p>
            </mat-card-content>

        </mat-card>



    </div>
</div>