<div class="bg-black project-container">
    <div class="container-left">

        <h3 id="myWork">My Projects</h3>

        <div class="text-color">
            <h2>Work I've done<br> in the past</h2>
        </div>
        <div class="project-box">
            <img src="assets/img/Pollo_loco.png">
            <h3>El Pollo Loco</h3>
            <p>Jump and run Game</p>
        </div>
        <div class="project-box">
            <img src="assets/img/join.png">
            <h3>Join</h3>
            <p>Kanban board</p>
        </div>
    </div>
    <div class="container-right">
        <div class="project-box mr-40"></div>
        <div class="project-box mr-40"></div>
    </div>
</div>