<div class="bg-black project-container">
    <div class="container-left">

        <h3 id="myWork">My Projects</h3>

        <div class="text-color">
            <h2>Work I've done<br> in the past</h2>
        </div>
        <div class="project-box">
            <a href="http://toma-gela.developerakademie.com/el_pollo_loco/pollo_loco.html"><img src="./assets/img/Pollo_Loco.png"></a>
            <h3>El Pollo Loco</h3>
            <p> A funny jump and run game</p>
        </div>
        <div class="project-box">
            <a href="
            http://toma-gela.developerakademie.com/Join/index.html"><img src="./assets/img/Join_pic.png"></a>
            <h3>Join</h3>
            <p>Kanban board</p>
        </div>
    </div>
    <div class="container-right">
        <div class="project-box mr-40">
            <a href="http://toma-gela.developerakademie.com/ring-of-fire/index.html"><img src="./assets/img/ring_of_fire.png"></a>
            <h3>Ring of fire</h3>
            <p>The popular drinking game based on Angular</p>
        </div>
        <div class="project-box mr-40">
            <a href="http://toma-gela.developerakademie.com/simple-crm"><img src="./assets/img/CRM.png"></a>
            <h3>Simple CRM</h3>
            <p>CRM with all basic functions to manage a customer database</p>
        </div>
    </div>
</div>