.project-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 100px;

    h2 {
        padding-bottom: 20px;
    }

    h3 {
        color: rgba(255, 255, 255, 0.6);
        margin-top: 0px;
    }

    p {
        padding-left: 40px;
    }
}

#myWork {
    display: block;
    position: relative;
    visibility: hidden;
    top: -100px;
}

.example-card {
    min-height: 550px;
    margin-bottom: 15px;



    h3 {
        padding-left: 40px;
        color: #0c0c0c;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }
}



mat-card-content {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mat-card>:last-child:not(.mat-card-footer),
.mat-card-content>:last-child:not(.mat-card-footer) {
    margin-bottom: 20px;
}

.mr-40 {
    margin-right: 40px;
}

.container-right {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-right: 70px;
    margin-left: 40px;
}

.container-left {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    width: 50vw;
}

.overlay {
    position: relative;


    span {
        position: absolute;
        top: 50%;
        left: 30%;
        font-weight: bold;
        font-size: 60px;
        text-decoration: none;
        opacity: 0;
        color: #5221e6;



    }

    &:hover {
        img {
            opacity: 0.7;
            filter: grayscale(100%);


        }


        span {
            opacity: 1;

        }

    }
}

@media(max-width:900px) {
    .project-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            padding-left: 5px;
        }
    }

    .project-box {
        max-width: 350px;
        height: 370px;
        margin-top: 20px;
        margin-left: 20px;

        img {
            max-width: 350px;
            height: 250px;
            object-fit: cover;
            cursor: pointer;
        }

        h3 {
            color: #0c0c0c;
            font-weight: bold;
        }
    }



    #myWork {
        padding-left: 20px !important;
    }

    .container-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        width: 90vw;
        margin-right: 0;
    }

    .container-right {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
    }


}

@media(max-width:650px) {
    mat-card-content {
        height: 25vh;
    }

    .example-card {
        min-height: 360px;
        margin-bottom: 15px;

        h3 {
            padding-left: 5px;
        }
    }

    .overlay {
        position: relative;

        span {

            left: 20%;
            font-size: 50px;

        }
    }


}

@media(max-width:380px) {

    .overlay {

        span {
            left: 10%;
            font-size: 40px;
        }
    }

}

@media(max-width: 260px) {

    .overlay {

        span {
            left: 10%;
            font-size: 25px;
        }
    }

    .mat-card>:last-child:not(.mat-card-footer),
    .mat-card-content>:last-child:not(.mat-card-footer) {
        margin-bottom: 0;
    }

    mat-card-content {
        height: 37vh;
    }



}