<div class="bg-black">
    <div class="contact-container">
        <div class="title-contact">
            <span>Let's talk business</span>
            <p>Now that you now a lot about me, let me now if you are interested to work with me</p>
        </div>
        <div class="contact-btn">
            <form [formGroup]="contactForm" #form action="https://tomagela.com/portfolio/mail/send_mail.php" method="POST" class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label class="label">Name</mat-label>
                    <input name="name" matInput formControlName="name">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label class="label">Email</mat-label>
                    <input name="email" type="email" matInput formControlName="emailFormControl" placeholder="email@example.com">
                   
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label class="label">Message</mat-label>
                    <textarea matInput name="message" class="message-field"></textarea>
                </mat-form-field>
                <button  mat-button type="submit"[disabled]="!contactForm.valid" (click)="form.submit()">Let's get started</button>
            </form>

        </div>
    </div>
</div>