<div id="about" class="main-container">

    <div data-aos="fade-right">
        <div class="title-container">
            <h2>My Skills</h2>
        </div>
        <div>
            <div class="skill-container">
                <app-skill-box img="assets/img/html5.svg" text="HTML"></app-skill-box>
                <app-skill-box img="assets/img/css3.svg" text="CSS"></app-skill-box>
                <app-skill-box img="assets/img/js-logo.png" text="JS"></app-skill-box>
            </div>
            <div class="skill-container">
                <app-skill-box img="assets/img/angular.svg" text="Angular"></app-skill-box>
                <app-skill-box img="assets/img/scrum.png" text="SCRUM"></app-skill-box>
                <app-skill-box img="assets/img/git.svg" text="Git"></app-skill-box>
            </div>
            <div class="skill-container">
                <app-skill-box img="assets/img/rest-api.png" text="Rest API"></app-skill-box>
                <app-skill-box img="assets/img/test-lab.svg" text="Test autmation"></app-skill-box>
                <app-skill-box img="assets/img/database.svg" text="Database"></app-skill-box>
            </div>
        </div>
    </div>
</div>