<div class="bg">
    <div class="text-color pd-t">
        <h2 id="about">My Skills</h2>
    </div>
    <div>

        <div class="skill-container">
            <div> <img src="assets/img/html.png"></div>
            <div><img src="assets/img/css3-kontur.png"></div>
            <div><img src="assets/img/js-logo.png"></div>
            <div> <img src="assets/img/angular-kontur.png"></div>
        </div>
        <div class="skill-container">
            <span>HTML</span>
            <span>CSS</span>
            <span>Javascript</span>
            <span>Angular</span>
        </div>
        <div class="skill-container">
            <div><img src="assets/img/data-base.png"></div>
            <div> <img src="assets/img/scrum.png"></div>
            <div><img src="assets/img/git.png"></div>
            <div> <img src="assets/img/design.png"></div>
        </div>
        <div class="skill-container pd-b">
            <span>Databases</span>
            <span>SCRUM</span>
            <span>Git</span>
            <span>Design Thinking</span>
        </div>

    </div>

</div>
<div class="container-aboutme">

    <div>
        <h2>about me</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus eligendi architecto ipsum vitae quas recusandae facilis fuga facere et aliquid iste commodi debitis velit, nesciunt animi. Provident numquam non molestiae?</p>
    </div>
    <img src="assets/img/Toma2.png">
</div>