.container-aboutme {
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    max-height: 600px;
    color: rgba(225, 225, 225, 0.6);
    padding-bottom: 125px;
    img {
        width: 40vw;
    }
    p {
        padding-left: 70px;
        padding-right: 70px;
        font-size: 23px;
        line-height: 35px;
    }
    h2 {
        padding-left: 70px !important;
    }
}

.pd-t {
    padding-top: 50px;
}