<div class="container-aboutme">
    <div>
       
        <h2>About me</h2><div id="about"></div>
        <p> I started my IT journey coding small websites during my studies. Although my career path didnt lead me directly to IT, I continued enjoying building websites and applications. Finally, I took the chance to follow my passion for IT
            after joining the Developer Akademie, a professional coding academy. Now I am looking forward to interesting and challenging projects.
            
    </div>
    <img src="./assets/img/Toma2_color.jpg">


</div>