        .home-container {
            display: flex;
            background: linear-gradient(to right, #0c0c0c 0%, #0c0c0c 30%, #181823 30%, #181823 100%);
            width: 100%;
            height: calc(100vh - 100px);
            img {
                width: 600px;
                height: 415px;
            }
            h1 {
                color: white;
                font-size: 76px;
                font-weight: bold;
                line-height: 70px;
            }
            p {
                color: white
            }
        }
        
        .text-container {
            position: absolute;
            left: 500px;
            top: 150px;
            z-index: 3;
        }
        
        .overlay {
            position: absolute;
            background-color: rgb(33 31 31 / 34%);
            width: 200px;
            height: 415px;
            left: 400px;
            z-index: 2;
            top: 100px;
        }