<div id="home">
</div>
<app-header></app-header>

<div class="home-container">

    <div>

        <img src="./assets/img/Toma_color.jpg">
    </div>

    <div class="text-container">

       

       <div class="line-1"> <h1 class="typed-out">I'm Toma Gela.</h1></div>
       <div class="line-1"><h1 class="typed-out-2">A Frontend Developer</h1></div>
       <div class="line-1"><h1 class="typed-out-3">based in Munich.</h1></div>

    </div>

    <a href="#skills"><svg class="arrows">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
      </svg> 
    </a>
</div>
<app-my-skills></app-my-skills>
<app-about-section></app-about-section>
<app-my-projects></app-my-projects>
<app-contact></app-contact>
<app-footer></app-footer>