   body,
   html {
       margin: 0;
       padding: 0;
       font-family: 'Sen', sans-serif;
       max-width: 100%;
       scroll-behavior: smooth !important;
   }


   h2 {
       font-size: 40px !important;
       font-weight: bold !important;
       margin-top: 0 !important;
       margin-bottom: 0 !important;
       color: white;
       padding-bottom: 70px;
   }

   .bg-black {
       background-color: #0c0c0c;
   }

   .mat-button.mat-button-disabled.mat-button-disabled {
       opacity: 0.6;
   }



   /* width */

   ::-webkit-scrollbar {
       width: 10px;
   }

   /* Track */

   ::-webkit-scrollbar-track {
       background-color: #0c0c0c;
       background-clip: content-box;
   }

   /* Handle */

   ::-webkit-scrollbar-thumb {
       background: #8C8C8C;
       height: 10px;
   }


   /* Animation */
   .anim-typewriter {
       animation: typewriter 4s steps(44) 1s 1 normal infinite,

   }

   @keyframes typewriter {
       from {
           width: 0;
       }

       to {
           width: 24em;
       }
   }

   @media(max-width:250px) {

       h2 {
           font-size: 32px !important;
       }

       .mat-form-field-infix {

           width: 143px;
       }
   }