body {
    margin: 0;
    font-family: 'Sen', sans-serif;
    width: 100vw;
}

h2 {
    font-size: 55px;
    font-weight: bold;
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 0;
}

.text-color {
    color: white;
}